trigger:
  branches:
    include:
      - main

variables:
  - name: azureSubscription
    value: 'Sargon-Conn'
  - name: functionAppName
    value: 'Func-App1'
  - name: functionsProject
    value: 'azure-functions'

stages:
- stage: __default
  jobs:
  - job: Job
    pool:
      name: SargonPool

    steps:
    - task: NodeTool@0
      displayName: 'Use Node.js 22'
      inputs:
        versionSpec: '22.x'

    # (optional) simple one-line check that won't fail the job
    - task: CmdLine@2
      displayName: 'Show azure-functions structure'
      inputs:
        script: |
          echo "=== Contents of azure-functions ==="
          dir $(Build.SourcesDirectory)\azure-functions

    - task: ArchiveFiles@2
      displayName: 'Archive Functions app'
      inputs:
        rootFolderOrFile: '$(functionsProject)'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/functions.zip'
        replaceExistingArchive: true

    - task: PublishBuildArtifacts@1
      displayName: 'Publish artifact'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'

    - task: AzureFunctionApp@2
      displayName: 'Deploy to Azure Function App'
      inputs:
        azureSubscription: $(azureSubscription)
        appType: 'functionApp'
        appName: $(functionAppName)
        runtimeStack: 'NODE|22'
        package: '$(Build.ArtifactStagingDirectory)/functions.zip'
        deploymentMethod: 'zipDeploy'
