trigger:
  branches:
    include:
    - main

variables:
- name: azureSubscription
  value: 'Sargon-Conn'
- name: functionAppName
  value: 'Func-App1'
- name: functionsProject
  value: 'azure-functions'

stages:
- stage: __default
  jobs:
  - job: Job
    pool:
      name: SargonPool

    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '22.x'
      displayName: 'Use Node.js 22'

    - task: CmdLine@2
      displayName: 'Install NPM packages (Functions)'
      inputs:
        script: |
          echo "Installing dependencies in $(functionsProject)"
          cd $(functionsProject)
          npm install

    - task: ArchiveFiles@2
      displayName: 'Archive Functions app'
      inputs:
        rootFolderOrFile: '$(functionsProject)'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/functions.zip'
        replaceExistingArchive: true

    - task: PublishBuildArtifacts@1
      displayName: 'Publish artifact'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'

    - task: AzureFunctionApp@2
      displayName: 'Deploy to Azure Function App'
      inputs:
        azureSubscription: $(azureSubscription)
        appType: 'functionApp'
        appName: $(functionAppName)
        runtimeStack: 'NODE|22'                   # matches your runtime
        package: '$(Build.ArtifactStagingDirectory)/functions.zip'
        deploymentMethod: 'zipDeploy'
